//Fonts
@font-face {
    font-family: 'KonturIconiceco20px';
    src: url('fonts/KonturIconiceco20px.eot');
    src: url('fonts/KonturIconiceco20px.eot') format('embedded-opentype'),
         url('fonts/KonturIconiceco20px.woff2') format('woff2'),
         url('fonts/KonturIconiceco20px.woff') format('woff'),
         url('fonts/KonturIconiceco20px.ttf') format('truetype'),
         url('fonts/KonturIconiceco20px.svg#KonturIconiceco20px') format('svg');
}

@font-face {
    font-family: 'konturiconicecowebfont';
    src: url('fonts/konturiconicecowebfont.eot');
    src: url('fonts/konturiconicecowebfont.eot') format('embedded-opentype'),
         url('fonts/konturiconicecowebfont.woff2') format('woff2'),
         url('fonts/konturiconicecowebfont.woff') format('woff'),
         url('fonts/konturiconicecowebfont.ttf') format('truetype'),
         url('fonts/konturiconicecowebfont.svg#konturiconicecowebfont') format('svg');
}

//Styles
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 100px;
	position: relative;
	background: #e5e5e5;
	font: 14px "Segoe UI"; 
	color: #404040; 
	line-height: 20px;
	min-height: 100vh;

}
.city-input {
	height: 50px;
	width: 300px;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	font: inherit;
	box-sizing: border-box;
}

.city-input_error {
	border-color: red;
}

.list-item,
.list-item_error {
	font: inherit;
	padding: 10px;
	background: #fff;
	cursor: pointer;
}
.list-item:first-child {
	background: #507299;
	color: #fff;
}
.data-container {
	display: inline-block;
	position: relative;
}
.data-container__second {
	position: absolute;
	right: 50px;
	bottom: 200px;
}
label {
	font: inherit;
	position: relative;
	width: 300px;
}
label::before {
	content: 'Город';
	position: absolute;
	display: inline-block;
	left: -60px;
	top: 0;
}
label::after {
	content: '';
	position: absolute;
	display: block;
	right: 5px;
	top: 5px;
	border: 7px solid grey;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom: none;
}
//input:focus 

input[type="text"]:focus {
	border-color: #507299;
	outline: none;
}
input[type="text"]:focus::placeholder {
	opacity: .75;
}
input[type="text"]:focus::-webkit-input-placeholder {
	opacity: .75;
}
input[type="text"]:focus::-ms-input-placeholder {
	opacity: .75;
}
input[type="text"]:focus::-moz-placeholder {
	opacity: .75;
}
ul {
	margin: 0;
	padding: 0;
	font: inherit;
	list-style: none;
	width: 300px;
	max-height: 450px;
	background: transparent;
	overflow-y: auto;
	box-shadow: 0 0 20px;
}
.data-list__up {
	position: absolute;
	bottom: 100%;
}
li {
	font: inherit;
}
